<h3>My precious recipes passed down for generations</h3>

<% if @recipes %>
  <% @recipes.each do |recipe| %>
    <div class="recipe">
      <h3><a href="/recipe/<%= recipe.id %>"><%= recipe.title%></a></h3>
      <p>Rating: <%= recipe.rating %></p>
    </div>
  <% end %>
<% end %>

<% if @recipes and @ingredients %>
  <form action="/find" method="post">
      <select class="form-control">
          <% @ingredients.each do |ingredient| %>
            <optgroup label="<%= ingredient.food_group %>">
              <option> <%= ingredient.name %></option>
            </optgroup>
          <% end %>
      </select>
  </form>
<% end %>
<a class="btn-primary btn" href="/recipe/new">Add a recipe</a>
<a class="btn-primary btn" href="/tag/new">Add a tag</a>
<a class="btn-danger btn" href="/clear">Clear Database</a>
