

<% if @recipe %>
    <div class="recipe_header">
      <h2><%= @recipe.title %></h2>
      <span>Cook time: <%= @recipe.cook_time %></span>
      <span>Servings: <%= @recipe.servings %></span>
      <span>Rating: <%= @recipe.rating %></span>
      <span>Spiceness level: <%= @recipe.spice %></span>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h2>Ingredients</h2>
        <% if @recipe.lists %>
          <% @recipe.lists.each do |list| %>
            <div class="recipe row">
              <ul>
                <div class="col-md-4">
                  <li><%= list.ingredient.name %> - <%= list.amount %> <%= list.unit %>
                  </li>
                </div>
                <div class="col-md-3">
                  <a class="btn btn-warning btn-xs"href="/recipe/<%= @recipe.id %>/ingredients/<%= list.id%>/edit">Edit</a><a class="btn btn-danger btn-xs"href="/recipe/<%= @recipe.id %>/ingredients/<%= list.id%>/delete">Delete</a>
                </div>
              </ul>
            </div>
          <% end %>
        <% end %>
      <% if @edit_list %>
        <form action="#" method="post">
          <h5>Edit the amount of <i><%= @edit_list.ingredient.name %></i> by replacing the content in the text boxes</h5>
          <input type="hidden" name="_method" value="patch">
          <% @recipe.lists.each do |list| %>
            <div class="row">
              <% if list.id == @edit_list.id %>
                <div class="input-group">
                  <input type="number" name="edit_amount" value="<%= list.amount%>" class="form-control">
                  <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
                  <select class="form-control select" name="edit_units">
                    <option>Cups</option>
                    <option>Ounces</option>
                    <option>Teaspoons</option>
                    <option>Tablespoons</option>
                    <option>Pounds</option>
                    <option>Each</option>
                  </select>
                </div>
              <% end %>
            </div>
          <% end %>
          <button type="submit" class="btn btn-primary">Edit</button>
        </form>
      <% else %>
        <form action="/recipe/<%= @recipe.id %>/ingredients/new" method="post">
          <div class="input-group">
            <input type="text" name="add_ingredient" placeholder="Add another ingredient" class="form-control">
            <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
            <select class="form-control select" name="add_food_group">
              <option>Meat</option>
              <option>Vegetable</option>
              <option>Fruit</option>
              <option>Grain</option>
              <option>Seasoning</option>
              <option>Dairy</option>
              <option>Misc.</option>
            </select>
          </div>
          <div class="input-group">
            <input type="number" name="add_amount" placeholder="Add an amount" class="form-control">
            <span class="input-group-addon" style="width:0px; padding-left:0px; padding-right:0px; border:none;"></span>
            <select class="form-control select" name="add_units">
              <option>Cups</option>
              <option>Ounces</option>
              <option>Teaspoons</option>
              <option>Tablespoons</option>
              <option>Pounds</option>
              <option>Each</option>
            </select>
          </div>
          <button type="submit" class="btn btn-primary" name="ingredient_button">Add ingredient</button>
        </form>
        <% end %>
  </div>
    <div class="col-md-6">
      <% if @edit_instruction %>
        <form action="#" method="post">
          <h5>Edit this step of the instructions by replacing the content in the text boxes</h5>
          <input type="hidden" name="_method" value="patch">
          <% @recipe.instructions.each do |instruction| %>
            <div class="row">
              <% if instruction.id == @edit_instruction.id %>
              <div class="col-md-3">
                <input type="text" name="edit_step" value="<%= instruction.step %>" class="form-control">
              </div>
              <div class="col-md-9">
                <input type="text" name="edit_description" value="<%= instruction.description %>" class="form-control">
              </div>
              <% else %>
              <div class="col-md-3">
                Step: <%= instruction.step %>
              </div>
              <div class="col-md-9">
                  <%= instruction.description %>
              </div>
              <% end %>
            </div>
          <% end %>
          <button type="submit" class="btn btn-primary">Edit</button>
        </form>
      <% else %>
        <h2>Instructions</h2>
        <% if @recipe.instructions %>
          <ul>
            <% @recipe.instructions.each do |instruction| %>
              <div class="row">
                <div class="col-md-4">
                    <li><%= instruction.step %>: <%= instruction.description %></li>
                </div>
                <div class="col-md-3">
                    <a class="btn btn-warning btn-xs"href="/recipe/<%= @recipe.id %>/instructions/<%= instruction.id%>/edit">Edit</a><a class="btn btn-danger btn-xs"href="/recipe/<%= @recipe.id %>/instructions/<%= instruction.id%>/delete">Delete</a>
                </div>
              </div>
            <% end %>
          </ul>
        <% end %>
        <form action="/recipe/<%= @recipe.id %>/instructions/new" method="post">
          <div class="input-group">
            <input class="form-control" type="number" name="add_step" placeholder="Enter step number">
            <span class="input-group-btn" style="width:0px;"></span>
            <input class="form-control" type="text" name="add_description" placeholder="Enter description">
          </div>
          <button type="submit" class="btn-primary btn">Add Instruction</button>
        </form>
      <% end %>
    </div>
  </div>
<% else %>
  <h2>Add a Recipe</h2>
  <form action="/recipe/new" method="post">
    <div class="form-group">
      <label for="recipe_title">Enter the recipe title</label>
      <input class="form-control" type="text" name="recipe_title">
  </div>
  <div class="form-group">
    <label for="servings">Servings</label>
    <select class="form-control" name="servings">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
      <option>6</option>
    </select>
  </div>
  <div class="form-group">
    <label for="rating">Rating</label>
    <select class="form-control" name="rating">
      <option>1</option>
      <option>2</option>
      <option>3</option>
      <option>4</option>
      <option>5</option>
    </select>
  </div>
  <div class="form-group">
    <label for="spice">Spiciness</label>
    <select class="form-control" name="spice">
      <option>1</option>
      <option>2</option>
      <option>3</option>
    </select>
  </div>
  <div class="form-group">
    <label for="cook_time">Enter the cook time</label>
    <input class="form-control" type="text" name="cook_time">
  </div>


  <label>Select all the tags that apply:</label><br>
  <% if @tags.any? %>
    <% i =1  %>
    <% @tags.each() do |tag| %>

      <input type="checkbox" name="tags[]" value="<%= tag.id %>"> <%= tag.name %> - <%= tag.category %><br>
      <% i += 1 %>
  <% end %>
  <% else %>
    <p>There are no tags yet</p>
  <% end %>



  <hr>
    <button type="submit" class="btn-primary btn" name="recipe_button">Add Recipe</button>
  </form>
<% end %>
