<div class="recipe_header">
  <h2><%= @recipe.title %></h2>
  <span>Cook time: <%= @recipe.cook_time %></span>
  <span>Servings: <%= @recipe.servings %></span>
  <span>Rating: <%= @recipe.rating %></span>
  <span>Spiceness level: <% @recipe.spice.times do |img| %>
      <img src="/img/pepper.png" alt="pepper" class="pepper"/>
    <% end %>
  </span>
</div><br>
<div class="panel panel-default">
  <div class="panel-body">
    <% if @recipe.lists%>
    <h3>Ingredients</h3><hr>
    <% @recipe.lists.each do |list| %>
    <div class="recipe">
      <ul>
        <li><p><%= list.amount %> <%= list.unit %> of <%= list.ingredient.name %><p></li>
      </ul>
    </div>
    <% end %>
    <% end %>
    <% if @recipe.instructions%>



    <h3>Instructions</h3><hr>
    <% @recipe.instructions.each do |instruction| %>
    <div class="recipe">
      <ol>
        <li><p><%= instruction.description %></p></li>
      </ol>
    </div>
    <% end %>
    <% end %>
    </div>
  </div>

<a class="btn-warning btn" href="/recipe/<%=@recipe.id %>/edit">Edit this recipe</a>
