<div class="recipe_header">
  <h2><%= @recipe.title %></h2>
  <span>Cook time: <%= @recipe.cook_time %></span>
  <span>Servings: <%= @recipe.servings %></span>
  <span>Rating: <%= @recipe.rating %></span>
  <span>Spiceness level: <%= @recipe.spice %></span>
</div>

<% if @recipe.lists%>
<h3>Ingredients</h3>
    <% @recipe.lists.each do |list| %>
      <div class="recipe">
        <ul>
          <li><%= list.ingredient.name %> - <%= list.amount %> <%= list.unit %></li>
        </ul>
      </div>
    <% end %>
<% end %>
<% if @recipe.instructions%>
<h3>Instructions</h3>
    <% @recipe.instructions.each do |instruction| %>
      <div class="recipe">
        <ul>
          <li><%= instruction.step %>: <%= instruction.description %></li>
        </ul>
      </div>
    <% end %>
<% end %>
<a href="/recipe/<%=@recipe.id %>/edit">Edit this recipe</a>
